body{
    margin: 0;
    background-image: linear-gradient(to right top, #051937, #0e315f, #154b8b, #1867ba, #1285eb);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}